.controlBar {
  display: flex;
  justify-content: center;
  background-color: #2f3640;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -8px 30px -8px rgba(0,0,0,0.75);
}
.controlBar-list li {
  display: inline-block;
}
/*
Upload features section
*/

.uploader {
  position: absolute;
  display: flex;
  left: 10px;
  color: #fff;
  height: 100%;
  align-items: center;
}

.uploadForm {
  align-items: center;
  position: relative;
}

.uploadSpan {
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.uploadInput {
  position: absolute;
  left: 0;
  width: 10px;
  opacity: 0;
}


/*
Audio Control features section
*/

.controlList {
  margin: 0 10px;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.controlList li {
  display: inline-block;
  padding: 10px;
}

.icon {
  color: #fff;
}

.active {
  color: #fe8c00;
}
