// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trackContainer {
  padding: 5px !important;
  transition:All 0.6523s ease;
  -webkit-transition:All 0.6523s ease;
  -moz-transition:All 0.6523s ease;
  -o-transition:All 0.6523s ease;
}

.albumCoverContainer img {
  width: 100%;
  display: block;
  box-shadow: 0px 1px 13px 0px #cecece;
}

.playButtonLink {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.playButtonLink i {
  color: #fff;
  font-size: 3em;
}

.playButtonLink i:hover {
  color: #f83600;
}
